
  body {
    background-color: rgb(9, 4, 31);
    background-image: url('cloud.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
#header {
    width: 100%;
    background-color: rgba(85, 85, 85, 0.158);
    height: 100px;
    border-radius: 2.5rem;
    margin: 2%;
    color: white;
}
#header-text {
    color:rgb(0, 46, 119);
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    letter-spacing: 5px;
    
}
p {
   
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;}

.city-div {
    border: 1px solid rgba(112, 112, 112, 0.315);
    background-color: #ffffffad;
   
    height: fit-content;
    float: right;    
    width: inherit;
    border-radius: 10px;
    padding: 15px 25px;
    line-height: 12px;
    color: cornflowerblue;
    margin-bottom: 5px;
}
.forecast-div {
   


    height: fit-content;
    float: left;    
   
    padding: 40px auto 0 auto;
    border-radius: 10px;
    display: flex;
    align-content: center;
    margin-bottom: 20px;
}
.forecast-box {
    width: fit-content;
    height: fit-content;
    background-color: #ffffffad;
    color: cornflowerblue;
    float: left;
    border: 1px solid rgba(112, 112, 112, 0.315);
    margin: 15px 1% 0px 1%;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    
}
li {
    list-style-type: none;
    border: 1px solid rgba(112, 112, 112, 0.315);
    width: fit-content;
    height: 90%;
    background-color: #00000021;
    color: rgb(0, 46, 119);
    text-align: center;
    border-radius: 10px;
    margin-top: 2px;   
    padding-left: 5px;
    padding-right: 5px;
}



    .btn-primary {
        margin-top: 2px;
        color: #fff;
        background-color: #447dce;
        border-color: #d1e3fc;
        border-radius: 10px;
    }

.uv{
    width: 20%;
    height: fit-content;
    border: none;
    border-radius: 6px;
    padding: 4px;
   
    margin-left: auto;
    margin-right: auto;
    left: 0vw;
    right: 0vw;
    text-align: center;
    bottom: -10vh;
}
    .low-uv{
        
        background-color: #2ecc71;
    }
    
    .moderate-uv{
        background-color: #f1c40f;
    }
    
    .high-uv{
        background-color: #f31212;
    }
    
    .extreme-high-uv{
        background-color: #7805bb;
    }
    
   